.home {
    gap: 2em;
}

.home h1 {
    color: var(--night);
    background: linear-gradient(-45deg, var(--tropical-indigo) 10%, var(--lemon-chiffon) 100%);

    margin-bottom: 1em;

    padding: 1em;

    border-radius: 0.2em;

    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 4em;

    text-align: center;
}

.home p {
    text-align: justify;
}



.about h2 {
    font-size: 2em;

    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

.about p {
    text-align: justify;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;

    gap: 1em;
}

.project {
    max-width: 20em;
    min-width: 15em;

    padding: 1em;

    border-radius: 1em;

    color: var(--seasalt);

    background-color: var(--raisin-black);

    text-decoration: none;
}

.project img {
    max-width: 18em;
    max-height: 18em;

    border-radius: 1em;
}

.project h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

.tagSet {
    display: flex; 
    flex-direction: row; 
    gap: .75em;
}

.tag {
    padding: .5em;

    border-radius: .5em;

    font-size: 0.75em;

    font-weight: 700;
}

.tagFinished {
    color: var(--seasalt);
    background-color: var(--rojo);
}

.tagWip {
    color: var(--seasalt);
    background-color: var(--majorelle-blue);
}

.tagLaunched {
    color: var(--night);
    background-color: var(--lime-green);
}

.tagResearch {
    color: var(--night);
    background-color: var(--aureolin);
}

.tagGame {
    color: var(--seasalt);
    background-color: var(--crayola);
}

.tagApp {
    color: var(--night);
    background-color: var(--turquoise);
}

.contacts {
    display: grid;
    
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;

    gap: 1em;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    height: 4em;
    width: auto;

    padding: .5em;

    border-radius: 1em;

    color: var(--seasalt);

    background-color: var(--raisin-black);

    text-decoration: none;
}

.contact img {
    width: 3em;
    height: 3em;

    border-radius: .5em;
}

.contact p {
    font-weight: 700;
}

.project:hover, .contact:hover {
    scale: 1.025;

    color: var(--night);

    background: linear-gradient(-45deg, var(--tropical-indigo) 10%, var(--lemon-chiffon) 100%);
}


@media screen and (max-width: 1000px) {

.home h1 {
    font-size: 3em;
}

.contacts {
    margin-left: auto;
    margin-right: auto;

    width: min-content;

    gap: 2em;
}

.contact {
    justify-content: center;

    width: 4em;
}

.contact p {
    display: none;
}

}