.content-home {
    gap: 2em;
}

.content-home h1 {
    color: var(--night);
    background: linear-gradient(-45deg, var(--tropical-indigo) 10%, var(--lemon-chiffon) 100%);

    margin-bottom: 1em;

    padding: 1em;

    border-radius: 0.2em;

    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 4em;

    text-align: center;
}

.content-home p {
    text-align: justify;
}



.content-about h2 {
    font-size: 2em;

    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

.content-about p {
    text-align: justify;
}

.content-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;

    gap: 1em;
}

.project {
    max-width: 20em;
    min-width: 15em;

    padding: 1em;

    border-radius: 1em;

    color: var(--seasalt);

    background-color: var(--raisin-black);
}

.project img {
    max-width: 18em;
    max-height: 18em;

    border-radius: 1em;
}

.project h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

.tag-set {
    display: flex; 
    flex-direction: row; 
    gap: .75em;
}

.tag {
    padding: .5em;

    border-radius: .5em;

    font-size: 0.75em;

    font-weight: 700;
}

.tag-finished {
    color: var(--seasalt);
    background-color: var(--rojo);
}

.tag-wip {
    color: var(--seasalt);
    background-color: var(--majorelle-blue);
}

.tag-launched {
    color: var(--seasalt);
    background-color: var(--lime-green);
}

.tag-research {
    color: var(--night);
    background-color: var(--aureolin);
}

.tag-game {
    color: var(--seasalt);
    background-color: var(--crayola);
}

.tag-app {
    color: var(--night);
    background-color: var(--turquoise);
}

.content-contact {
    display: grid;
    
    grid-template-columns: auto auto auto;

    gap: 1em;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    height: 4em;
    width: auto;

    padding: .5em;

    border-radius: 1em;

    color: var(--seasalt);

    background-color: var(--raisin-black);
}

.contact img {
    width: 3em;
    height: 3em;
}

.contact p {
    font-weight: 700;
}

.project:hover, .contact:hover {
    scale: 1.025;

    color: var(--night);

    background: linear-gradient(-45deg, var(--tropical-indigo) 10%, var(--lemon-chiffon) 100%);
}


@media screen and (max-width: 1000px) {

.content-home h1 {
    font-size: 3em;
}

}