@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
    --seasalt: #F7F7F7;
    --raisin-black: #28262C;
    --glassy-raisin-black: #28262cdc;
    --night: #141414;
    --glassy-night: #141414dc;
    --periwinkle: #CCCCFF;
    --tropical-indigo: #8B80F9;
    --majorelle-blue: #6050DC;
    --lemon-chiffon: #FFFACD;
    --flax: #EEDC82;
    --unsat-tropical-indigo: #7b74ca;
    --glaucous: #6b7fd7;
    --lime-green: #32cd32;
    --aureolin: #fdec00;
    --rojo: #e60026;
    --orange-peel: #FF9F1C;
    --crayola: #ea526f;
    --turquoise: #72e1d1;
}