:root {
    --seasalt: #F7F7F7;
    --raisin-black: #28262C;
    --glassy-raisin-black: #28262cdc;
    --night: #141414;
    --glassy-night: #141414dc;
    --periwinkle: #CCCCFF;
    --tropical-indigo: #8B80F9;
    --majorelle-blue: #6050DC;
    --lemon-chiffon: #FFFACD;
    --flax: #EEDC82;
    --unsat-tropical-indigo: #7b74ca;
    --lime-green: #32cd32;
    --aureolin: #fdec00;
    --rojo: #e60026;
    --glaucous: #6b7fd7;
}